 // progress

 .progress-card{
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  padding: 2.5rem;
  margin: 10vh auto;

}

.progress-card-title{
  text-align: left;
  margin: 1rem 3rem 1rem 0rem;
}

.progress-bar{
  width: 300px;
  margin: 1.5rem auto 1.5px;
}
